# Visual Studio
.vs/
x64/
Debug/
Release/
*.user
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.VC.db
*.VC.VC.opendb
# Compiled files
*.exe
*.dll
*.obj
*.pdb
# SFML specific (опционально)
# SFML-2.6.0/   # если вы храните SFML в папке проекта, раскомментируйте, чтобы не загружать